<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Unibuddy Event Test Suite" parallel="classes" thread-count="3">
    <test name="Basic Test">
        <classes>
            <class name="com.unibuddy.event.tests.HomePageTest"/>
            <class name="com.unibuddy.event.tests.RegistrationTest"/>
            <class name="com.unibuddy.event.tests.Registration2Test"/>
            <class name="com.unibuddy.event.tests.LoginPageTest"/>
            <class name="com.unibuddy.event.tests.DashboardPageTest"/>
            <class name="com.unibuddy.event.tests.FeedChatTest"/>
            <class name="com.unibuddy.event.tests.DirectChatPageTest"/>
            <class name="com.unibuddy.event.tests.End2EndTest"/>
        </classes>
    </test>
</suite>